body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
    background-color: azure;
    color: blue; 
}

h {
    color: blue;
    font-weight: bold; 
    font-size: 24px;
}

a {
    color: blue;
    font-size: 20px; 
}